<html>

<head>
    
</head>

<body>
    <div class="login-page">
        <div class="form">
            <b><%= error %></b>
            <form class="login-form" action="login" method="GET">
                <input type="text" placeholder="email" name="email" /><br/>
                <input type="password" placeholder="password" name="password" /><br/>
                <button onclick="">login</button>
            </form>

        </div>
    </div>
</body>